In [1]:
from tabula import read_pdf
df_me_1=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="1",area=(379.353,43.602,684.74,631.016),spreadsheet=True)
df_me_4=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="4",area=(391.458,74.4,634.117,631.827),spreadsheet=True)
df_me_7=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="7",area=(463.3,50.284,790.604,630.838),spreadsheet=True)

In [8]:
df_me_1=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="1",area=(379.353,43.602,684.74,631.016),spreadsheet=True)

In [9]:
df_me_4=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="4",area=(391.458,74.4,634.117,631.827),spreadsheet=True)

In [10]:
df_me_6=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="6",area=(404.639,90.933,642.994,648.932),spreadsheet=True)

In [11]:
df_me_8=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="8",area=(469.295,102.556,792.345,681.995),spreadsheet=True)

In [12]:
df_me_9=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="9",area=(471.756,105.974,781.132,678.576),spreadsheet=True)

In [13]:
df_me_7=read_pdf("static\\course_data\\mechanical_odd.pdf",pages="7",area=(463.3,50.284,790.604,630.838),spreadsheet=True)

In [28]:
df_me_all=[]
df.append(df_me_1)
df.append(df_me_4)
df.append(df_me_7)

In [37]:
df[2]

,Sub Code,Sub. Title,Credits,Course Instructor,Initials
0,MA0405,Engineering Mathematics-III,4.0,L1 / S V Roopa,L1/SVR
1,ME0408,Mechanical Measurements & Metrology,4.0,Aruna M,AM
2,ME0404,Basic Thermodynamics,4.0,Srikantha N S,NSS
3,ME0405,Mechanica of Materials,4.0,Dr. Suresha B,Dr. SB
4,ME0406,Manufacturing Technology - I,4.0,Sunil Gaewkad,SG
5,ME0407,Machine Drawing,4.0,Dr. Aravindrao M Yadwad\rDharanish J\rManjunat...,Dr. AMY\rYKK\rMM
6,HS0102,Environmental Studies,1.0,Jeevan H,JH
7,MA0201,Bridge course Mathematics,2.0,N S Darshan,NSD
8,ME0104,Mechanical Measurements & Metrology Lab,1.5,A1: Anand A + Aruna M,AA + AM
9,NaN,NaN,NaN,A2: Manoj Koushik + Manjunatha M,MK +MM
10,NaN,NaN,NaN,A3: B Hulugappa + Sunil Gaekwad,BH + SG
11,ME0114,Workshop Practise,1.5,A1: Dr. Achutha M V + Goutham Raj,Dr. MVA + GR
12,A2: Dr. Achutha M V + B Huluggapa,Dr. MVA+ BH,NaN,NaN,NaN
13,A3: Ravikiran + Banupriya R,RK + BPR,NaN,NaN,NaN

In [40]:
df[0]

,Sub Code,Sub. Title,Credits,Course Instructor,Initials
0,MA0405,Engineering Mathematics-III,4.0,L1 / S V Roopa,L1/SVR
1,ME0408,Mechanical Measurements & Metrology,4.0,Aruna M,AM
2,ME0404,Basic Thermodynamics,4.0,Srikantha N S,NSS
3,ME0405,Mechanica of Materials,4.0,Dr. Suresha B,Dr. SB
4,ME0406,Manufacturing Technology - I,4.0,Sunil Gaewkad,SG
5,ME0407,Machine Drawing,4.0,Dr. Aravindrao M Yadwad\rDharanish J\rManjunat...,Dr. AMY\rYKK\rMM
6,HS0102,Environmental Studies,1.0,Jeevan H,JH
7,MA0201,Bridge course Mathematics,2.0,N S Darshan,NSD
8,ME0104,Mechanical Measurements & Metrology Lab,1.5,A1: Anand A + Aruna M,AA + AM
9,NaN,NaN,NaN,A2: Manoj Koushik + Manjunatha M,MK +MM
10,NaN,NaN,NaN,A3: B Hulugappa + Sunil Gaekwad,BH + SG
11,ME0114,Workshop Practise,1.5,A1: Dr. Achutha M V + Goutham Raj,Dr. MVA + GR
12,A2: Dr. Achutha M V + B Huluggapa,Dr. MVA+ BH,NaN,NaN,NaN
13,A3: Ravikiran + Banupriya R,RK + BPR,NaN,NaN,NaN

In [ ]:
import itertools

# branch=['ME','EC','EE','CS','CV','IP']
sub_code=[]
sub_title=[]
sub_credits=[]
for table_no in range(0,len(df),2):
    section=df[table_no][[0,1,2]].dropna()
#     no_rows=df[table_no][0,1,2].dropna().size
#     for row in range(0,no_rows):
    for item in range(0,3):
        if item==0:
            sub_code.append(list(section[0][1:]))
        if item==1:
            sub_title.append(list(section[1][1:]))
        if item==2:
            sub_credits.append(list(section[2][1:]))
sub_code=list(itertools.chain.from_iterable(sub_code))
sub_title=list(itertools.chain.from_iterable(sub_title))
sub_credits=list(itertools.chain.from_iterable(sub_credits))

In [39]:
import itertools

# branch=['ME','EC','EE','CS','CV','IP']
sub_code=[]
sub_title=[]
sub_credits=[]
# for table_no in range(0,len(df),2):
for frame in df:
    section=frame[['Sub Code',"Sub. Title","Credits"]].dropna()
#     no_rows=df[table_no][0,1,2].dropna().size
#     for row in range(0,no_rows):
    
#     for item in range(0,3):
#         if item==0:
    sub_code.append(list(section["Sub Code"]))
#         if item==1:
    sub_title.append(list(section["Sub. Title"]))
#         if item==2:
    sub_credits.append(list(section["Credits"]))
sub_code=list(itertools.chain.from_iterable(sub_code))
sub_title=list(itertools.chain.from_iterable(sub_title))
sub_credits=list(itertools.chain.from_iterable(sub_credits))

In [66]:
    #finalized
    import itertools
    from tabula import read_pdf
    df_me=[]
    df_me.append(read_pdf("static\\course_data\\mechanical_odd.pdf",pages="1",area=(379.353,43.602,684.74,631.016),spreadsheet=True))
    df_me.append(read_pdf("static\\course_data\\mechanical_odd.pdf",pages="4",area=(391.458,74.4,634.117,631.827),spreadsheet=True))
    df_me.append(read_pdf("static\\course_data\\mechanical_odd.pdf",pages="7",area=(463.3,50.284,790.604,630.838),spreadsheet=True))
    # edit the area section
    df_first=read_pdf("static\\course_data\\first_year.pdf",pages="11",spreadsheet=True,multiple_tables=True)
# branch=['ME','EC','EE','CS','CV','IP']
    sub_code=[]
    sub_title=[]
    sub_credits=[]
    for frame in df_me:
        section=frame[['Sub Code',"Sub. Title","Credits"]].dropna()
        sub_code.append(list(section["Sub Code"]))
        sub_title.append(list(section["Sub. Title"]))
        sub_credits.append(list(section["Credits"]))
    section=df_first[1][[0,1,2]]
    sub_code.append(list(section[0][1:]))
    sub_title.append(list(section[1][1:]))
    sub_credits.append(list(section[2][1:]))
    sub_code=list(itertools.chain.from_iterable(sub_code))
    sub_title=list(itertools.chain.from_iterable(sub_title))
    sub_credits=list(itertools.chain.from_iterable(sub_credits))

In [67]:
sub_code

['MA0405',
 'ME0408',
 'ME0404',
 'ME0405',
 'ME0406',
 'ME0407',
 'HS0102',
 'MA0201',
 'ME0104',
 'ME0114',
 'ME0454',
 'ME0416',
 'ME0328',
 'ME0455',
 'ME0302',
 'ME0303',
 'ME0307',
 'ME0113',
 'ME0109',
 'ME0463',
 'ME0453',
 'ME0427',
 'ME0315',
 'ME0318',
 'ME0305',
 'ME0202',
 'ME0316',
 'ME0329',
 'ME0107',
 'ME0110',
 'MA1C01',
 'CH1C01',
 'CS1C01',
 'EC1C01',
 'ME1C02',
 'CH1L01',
 'CS1L01',
 'HS1C01']

In [63]:

list(section[0][1:])

['MA1C01',
 'CH1C01',
 'CS1C01',
 'EC1C01',
 'ME1C02',
 'CH1L01',
 'CS1L01',
 'HS1C01']

In [49]:
sub_code.append(list(itertools.chain.from_iterable(sub_code_first)))
sub_title.append(list(itertools.chain.from_iterable(sub_title_first)))
sub_credits.append(list(itertools.chain.from_iterable(sub_credits_first)))

In [50]:
sub_title

['Engineering Mathematics-III',
 'Mechanical Measurements & Metrology',
 'Basic Thermodynamics',
 'Mechanica of Materials',
 'Manufacturing Technology - I',
 'Machine Drawing',
 'Environmental Studies',
 'Bridge course Mathematics',
 'Mechanical Measurements & Metrology Lab',
 'Workshop Practise',
 'Design of Machine Elements - I',
 'Dynamics of Machinery',
 'Mechatronics',
 'Turbomachines',
 'Engineering Managment',
 'CAD/CAM',
 'Operation Research',
 'CAD/CAM Lab',
 'Fluid Mechanics & Fluid Machines\rLaboratory',
 'Operations Managment',
 'Control Engineering',
 'Renwable Energy Technology',
 'Aeronautical Engineering',
 'Areodynamics',
 'Industrial Robotics',
 'Research Methodolgy',
 'Internal Combustion Engines',
 'Additive Manufacturing',
 'Thermodynamics & IC Engines\rLaboratory',
 'Heat Transfer Laboratory',
 ['E',
  'n',
  'g',
  'i',
  'n',
  'e',
  'e',
  'r',
  'i',
  'n',
  'g',
  ' ',
  'M',
  'a',
  't',
  'h',
  'e',
  'm',
  'a',
  't',
  'i',
  'c',
  's',
  '-',
  '1',
  'E',
  'n',
  'g',
  'i',
  'n',
  'e',
  'e',
  'r',
  'i',
  'n',
  'g',
  ' ',
  'C',
  'h',
  'e',
  'm',
  'i',
  's',
  't',
  'r',
  'y',
  'C',
  'o',
  'm',
  'p',
  'u',
  't',
  'e',
  'r',
  ' ',
  'C',
  'o',
  'n',
  'c',
  'e',
  'p',
  't',
  's',
  ' ',
  ',',
  ' ',
  'C',
  '\r',
  'P',
  'r',
  'o',
  'g',
  'r',
  'a',
  'm',
  'm',
  'i',
  'n',
  'g',
  ' ',
  'a',
  'n',
  'd',
  ' ',
  'P',
  'y',
  't',
  'h',
  'o',
  'n',
  ' ',
  'B',
  'a',
  's',
  'i',
  'c',
  's',
  'E',
  'l',
  'e',
  'c',
  't',
  'r',
  'o',
  'n',
  'i',
  'c',
  's',
  ' ',
  'F',
  'u',
  'n',
  'd',
  'a',
  'm',
  'e',
  'n',
  't',
  'a',
  'l',
  's',
  'C',
  'o',
  'm',
  'p',
  'u',
  't',
  'e',
  'r',
  ' ',
  'A',
  'i',
  'd',
  'e',
  'd',
  ' ',
  'E',
  'n',
  'g',
  'g',
  '.',
  ' ',
  'D',
  'r',
  'a',
  'w',
  'i',
  'n',
  'g',
  'E',
  'n',
  'g',
  'i',
  'n',
  'e',
  'e',
  'r',
  'i',
  'n',
  'g',
  ' ',
  'C',
  'h',
  'e',
  'm',
  'i',
  's',
  't',
  'r',
  'y',
  ' ',
  'L',
  'a',
  'b',
  'C',
  'o',
  'm',
  'p',
  'u',
  't',
  'e',
  'r',
  ' ',
  'P',
  'r',
  'o',
  'g',
  'r',
  'a',
  'm',
  'm',
  'i',
  'n',
  'g',
  ' ',
  'L',
  'a',
  'b',
  'F',
  'u',
  'n',
  'c',
  't',
  'i',
  'o',
  'n',
  'a',
  'l',
  ' ',
  'E',
  'n',
  'g',
  'l',
  'i',
  's',
  'h']]